{% extends layout %}
{% block  content %}
<main class="container">
    <div>
    <form action="/meeps" method="post">
    <label for="meep"></label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="meep" id="meep" value="{{ meep }}" placeholder="Meep a meep" required>
            <input type="text" class="form-control" name="description" id="description" value="{{ description }}" maxlength="140" placeholder="Meep a meep meeption" required>
            <div>
                <span id="char-count">0/140</span>
            </div>
        </div>
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Mep meep</button>
    </form>
</div>
<div class="d-flex justify-content-evenly">
    <a href="/meeps/"><button type="button" class="btn btn-secondary">Created</button></a>
    <a href="/meeps/sort/1"><button type="button" class="btn btn-secondary">Meep</button></a>
    <a href="/meeps/sort/2"><button type="button" class="btn btn-secondary">Updated</button></a>
</div>
    {% for meep in meeps %}
    <li class="list-group-item">
        <div class="d-flex justify-content-between">
    <h3>{{meep.body}}</h3>
    <a href="/meeps/{{meep.id}}/delete"><button type="button" class="btn btn-outline-danger">Demeep</button></a>
    </div>
    <h5>{{meep.description}}</h5>
    <a href="/meeps/{{meep.id}}"><button type="button" class="btn btn-primary">meeption</button></a>
    
    </div>
    </li>
    {% endfor %}
    <li class="list-group-item">
        <div class="d-flex align-items-center">
            <strong>Meeping more meeps...</strong>
            <div class="spinner-border ms-auto spinner-border m-2" role="status" aria-hidden="true"></div>
        </div>
    </li>
</main>
<script>
    const textarea = document.getElementById("description");

    textarea.addEventListener('input', event => {
    const currentLength = event.currentTarget.value.length;
    document.getElementById("char-count").innerHTML = currentLength + "/140";
    if (currentLength >= 140) {
        document.getElementById("char-count").style.color = 'red';
    } else {
        document.getElementById("char-count").style.color = 'black';
    }
});
</script>
{% endblock %}